{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}

<!-- put html here -->
<div class="title">
    <h1>What is Faith Promise Missions?</h1>
</div>

<div class="textbox">
    <h2>Faith Promise Missions is a way of giving to world evangelism.<br>
        Rather than waiting to respond to individual appeals as they come along,<br>
        believers ask the Lord how much they should give to missions over the <br>
        next year. They then committ to that annual total as a "Faith Promise."
    </h2>
</div>
<div>
    <h3 style="margin-left: 75px;">"They gave of themselves as much as they were able, <br> and even beyond their
        ability. See that you also excel in this <br> grace of giving...Your plenty will 
        supply what they need." 
    </h3>
</div>
    
<!-- <div id="verse-nav"> -->
<div>
    <h4> *Faith Promise giving above and beyond.
       <br> (II Corinthians 8:2-3  II Corinthians 9:6-15)  
    <br>
    <br>
        *Faith Promise giving reflects our personal commitments.
        <br> (II Corinthians 8:5)
    <br>
    <br>    
        *Though Faith Promise giving is optional,<br>it does clearly demonstrate our love.
       <br> (Philippians 2:1-4; Luke 6:38, Romans 12:9-10)
    </h4> 
</div> 

<style>

* {
    box-sizing: border-box;
}

.title {
    display: flex;
    text-align: center;
    margin-top: -70px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1em;
    color: #09393A;
    width: 80%;
}

.textbox {
    display: flex;
    text-align: center;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-family: 'Lobster Two', cursive;
    font-size: 0.7em;
    color: #09393A;
}

h2 {
    display: flex;
    text-align: center;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lobster Two', cursive;
    font-size: 0.3em;
    color: #09393A;
}

.p {
    float: left;
    padding-left: 30px;
    margin-top: 18px;
    margin-left: 0px;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.3em;
}

h1 {
    display: flex;
    margin-left: 380px;
    margin-top: 50px;
    font-family: 'Lobster Two', cursive;
    font-size: 2em;
    color: #09393A;
}

/* Mobile styles */

@media screen and (max-width: 603em) and (min-width: 30em) {
    .align-left {
        float: left;
    }
}

@media screen and (max-width: 603em) and (min-width: 30em) {
    .align-center {
        float: center;
    }
}

@media screen and (max-width: 603em) and (min-width: 30em) {
    .align-right {
        float: right;
    }
}

@media all and (max-width: 60em) and (min-width: 30em) {
    .parent {
        float: left;
        width: 50%;
    .header-bar {
        float: left;
        width: 50;
    .navbar {
        float: left;
        width: 50%;
    }
    }
    }
}

</style>

{% endblock %}