{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
<!-- put html here -->

<h2 style="text-align:center">Gallery</h2>
<div class="row">
    <div class="column">
        <img src="{{ url_for('static', filename='images/sanctuary.jpg')}}" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
    </div>
    <div class="column">
        <img src="{{ url_for('static', filename='images/ss.jpg')}}"  style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
    </div>
    <div class="column">
        <img src="{{ url_for('static', filename='images/church.jpeg')}}" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
    </div>
    <div class="column">
        <img src="{{ url_for('static', filename='images/altar.jpg')}}" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
    </div>
    <div class="column">
        <img src="{{ url_for('static', filename='images/church2.jpeg')}}" style="width:100%" onclick="openModal();currentSlide(5)" class="hover-shadow cursor">
    </div>
    <div class="column">
        <img src="{{ url_for('static', filename='images/nursery.jpg')}}"  style="width:100%" onclick="openModal();currentSlide(6)" class="hover-shadow cursor">
    </div>
    <div class="column">
        <img src="{{ url_for('static', filename='images/bench.jpg')}}" style="width:100%" onclick="openModal();currentSlide(7)" class="hover-shadow cursor">
    </div>
    <div class="column">
        <img src="{{ url_for('static', filename='images/chairs.jpg')}}" style="width:100%" onclick="openModal();currentSlide(8)" class="hover-shadow cursor">
    </div>

<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">
    
        <div class="mySlides">
            <div class="numbertext">1 / 8</div>
            <img src="{{ url_for('static', filename='images/sanctuary.jpg')}}" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">2 / 8</div>
            <img src="{{ url_for('static', filename='images/ss.jpg')}}" style="width:100%">
        </div>
    
        <div class="mySlides">
            <div class="numbertext">3 / 8</div>
            <img src="{{ url_for('static', filename='images/church.jpeg')}}" style="width:100%">
        </div>
        
        <div class="mySlides">
            <div class="numbertext">4 / 8</div>
            <img src="{{ url_for('static', filename='images/altar.jpg')}}" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">5 / 8</div>
            <img src="{{ url_for('static', filename='images/church2.jpeg')}}" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">6 / 8</div>
            <img src="{{ url_for('static', filename='images/nursery.jpg')}}" style="width:100%">
        </div>
        
        <div class="mySlides">
            <div class="numbertext">7 / 8</div>
            <img src="{{ url_for('static', filename='images/bench.jpg')}}" style="width:100%">
        </div>
    
        <div class="mySlides">
            <div class="numbertext">8 / 8</div>
            <img src="{{ url_for('static', filename='images/chairs.jpg')}}" style="width:100%">
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <div class="column">
            <img class="demo cursor" src="{{ url_for('static', filename='images/sanctuary.jpg')}}" style="width:100%" onclick="currentSlide(1)" alt="">
        </div>
        <div class="column">
            <img class="demo cursor" src="{{ url_for('static', filename='images/ss.jpg')}}" style="width:100%" onclick="currentSlide(2)" alt="Snow">
        </div>
        <div class="column">
            <img class="demo cursor" src="{{ url_for('static', filename='images/church.jpeg')}}" style="width:100%" onclick="currentSlide(3)" alt="">
        </div>
        <div class="column">
            <img class="demo cursor" src="{{ url_for('static', filename='images/altar.jpg')}}" style="width:100%" onclick="currentSlide(4)" alt="">
        </div>
        <div class="column">
            <img class="demo cursor" src="{{ url_for('static', filename='images/church2.jpeg')}}" style="width:100%" onclick="currentSlide(5)" alt="">
        </div>
        <div class="column">
            <img class="demo cursor" src="{{ url_for('static', filename='images/nursery.jpg')}}" style="width:100%" onclick="currentSlide(6)" alt="">
        </div>
        <div class="column">
            <img class="demo cursor" src="{{ url_for('static', filename='images/bench.jpg')}}" style="width:100%" onclick="currentSlide(7)" alt="s">
        </div>
        <div class="column">
            <img class="demo cursor" src="{{ url_for('static', filename='images/chairs.jpg')}}" style="width:100%" onclick="currentSlide(8)" alt="">
        </div>
    </div>
</div>
      
    <script>
      function openModal() {
        document.getElementById("myModal").style.display = "block";
      }
      
      function closeModal() {
        document.getElementById("myModal").style.display = "none";
      }
      
      var slideIndex = 1;
      showSlides(slideIndex);
      
      function plusSlides(n) {
        showSlides(slideIndex += n);
      }
      
      function currentSlide(n) {
        showSlides(slideIndex = n);
      }
      
      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        captionText.innerHTML = dots[slideIndex-1].alt;
      }
    </script>

    <style>
    * {
        box-sizing: border-box;
    }

    @media (max-width: 1024px) 
        body {
            background-color: blue;
    }

    @media (max-width: 768px) 
        body {
            background-color: red;
    }

    @media (max-width: 480px) 
        body {
            background-color: green;
    }

    @media (max-width: 320px) 
        body {
            background-color: orange;
    }

    .row > .column {
        padding: 0px 8px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .column {
        float: left;
        width: 25%;
    }

    /* Modal Background */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #000;
    }

    /* Close Button */
    .close {
        color: #fff;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 25px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }

    .mySlides {
        display: none;
    }

    .cursor {
        cursor: pointer;
    }

    /* Next and Previous Buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    /* Position the next button to the rigth */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover add a black bdkgrd color with opacity */

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    .caption-container {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
    }

    .demo {
        opacity: 0.6;
    }

    .active,
    .demo:hover {
        opacity: 1;
    }

    img.hover-shadow {
        transition: 0.3s;
    }

    .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    </style>

<!-- <div class="header">
    <h1>Gallery</h1>
</div>

<div class="row"> 
    <div class="column">
        <img src="{{ url_for('static', filename='images/sanctuary.jpg')}}" style="width:100%">
        <img src="{{ url_for('static', filename='images/ss.jpg')}}" style="width:100%">
    </div>
    <div class="column">
        <img src="{{ url_for('static', filename='images/church.jpeg')}}" style="width:100%">
        <img src="{{ url_for('static', filename='images/altar.jpg')}}" style="width:100%">   
    </div>  
    <div class="column">
        <img src="{{ url_for('static', filename='images/church2.jpeg')}}" style="width:100%">
        <img src="{{ url_for('static', filename='images/nursery.jpg')}}" style="width:100%">
    </div>
    <div class="column">
        <img src="{{ url_for('static', filename='images/bench.jpg')}}" style="width:100%">
        <img src="{{ url_for('static', filename='images/chairs.jpg')}}" style="width:100%">
    </div>
</div>

    <style>
        * {
            box-sizing: border-box;
        }
        
        body {
            margin: 0;
            font-family: Arial;
        }
        
        .header {
            text-align: center;
            padding: 32px;
            font-family: 'Lobster Two, cursive';
            color: #8B4513;
        }
        
        .row {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            -ms-flex-wrap: wrap; /* IE10 */
            flex-wrap: wrap;
            padding: 0 4px;
        }
        
        /* Create four equal columns that sits next to each other */
        .column {
            -ms-flex: 25%; /* IE10 */
            flex: 25%;
            max-width: 25%;
            padding: 0 4px;
        }
        
        .column img {
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
        }
        
        /* Responsive layout - makes a two column-layout instead of four columns */
        @media screen and (max-width: 800px) {
            .column {
            -ms-flex: 50%;
            flex: 50%;
            max-width: 50%;
            }
        }
        
        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
            .column {
            -ms-flex: 100%;
            flex: 100%;
            max-width: 100%;
            }
        }
    </style> -->


{% endblock %}